VITE_BOT_START_URL="http://localhost:7870/start"
VITE_BOT_START_PUBLIC_API_KEY=""
VITE_DEFAULT_AI_MODE="realtime"
VITE_DEFAULT_REALTIME_PROVIDER="google"
VITE_DEFAULT_CASCADE_VLM_PROVIDER="openai-compatible"
